<div class="section">
    <h3>image display</h3>
</div>

<div class="section">
    <a class="waves-effect waves-light btn" onclick="random_num()">push this button</a>
</div>

<div class="section">
    <div id="myNumber"></div>
</div>

<div class="section">
    <img src="/images/poster.jpeg">
</div>

<script src="/scripts/generate_random.js"></script>